h1 {
    font-size: 5em;
    font-family: arial, helvetica;
    color: #fff;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 5.9vh;
    font-family: arial, helvetica;
    color: #fff;
    margin: 0;
    padding: 0;
}

.intro p {
    color: #fff;
}

#logo {
    height: 100%;
    float: left;
}

#section0 {
    width: 100%;
    background-size: cover;
    background: url("../img/tennis0.jpg") no-repeat fixed center;
}

#section2 {
    background-color: chocolate;
}

#signIn {
    float: right;
    margin-top: 25px;
}

#member {
    margin-top: 30px;
    margin-left: 5%;
}

#clubName {
    float: left;
    margin-top: 25px;
    color: white;
}

.headline {
    text-align: left;
    margin-left: 5%;
    margin-top: 10%;
}

.headline h2 {
    padding: 50px;
}

.btn {
    border-radius: 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0
}

.img-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}

.img-box:focus, .img-box:hover {
    color: #eb3812;
    opacity: 1;
}
a{
    transition: all .35s;
    color: #eb3812;
}

.img-box-caption {
    color: #fff;
    opacity: 0;
    display: block;
    background: rgba(240, 95, 64, .9);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all .35s
}
.img-box .img-box-caption .img-box-caption-content{
    font-size: 22px;
}
/* Map */

.map {
    position: absolute;
    height: 400px;
    top: 0;
    left: 0;
    right: 0;
}

@media(max-width: 768px) {
    .map {
        height: 40%;
    }
}
.footer{
    margin-top: 50%;
}
.btn-footer{
    margin-bottom: 1%;
    float: right;
}


